body{
  background-color: white;
  margin: 0;
}

.red{
  background-color: red;
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  left: 400px;
}

.blue{
  height: 200px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  position: relative;
  right: 200px;
}

.yellow{
  height: 200px;
  width: 200px;
  background-color: yellow;
  display: inline-block;
  position: relative;
  right: 200px;
}
